.about-project-container {
    padding: 80px;
    padding-bottom: 20px;
    @include flex-center;
    flex-direction: column;
    height: 100%;
    gap: 12px;

    .try-div {
        height: 500px;
        display: flex;
        justify-content: center;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .project-main {
        @include flex-center;
        flex-direction: column;
        gap: 12px;
        width: 1100px;
        text-align: center;

        background-color: #303030cd;

        .project-title {
            font-size: 50px;
            color: $clr-link-color;
            padding-bottom: 15px;
        }

        .project-info {
            // align-self: flex-start;
            color: $clr-link-color;
            font-size: 22px;
        }

        .project-technologies {
            font-size: 18px;
        }

        .button-cv {
            font-size: 18px;
        }

        .prev-pic {
            height: 350px;
            width: 500px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

    }

    .project-showcase-container {
        display: flex;
        flex-direction: column;
        width: 800px;
        height: 100%;
        margin-top: 24px;
        gap: 8px;

        .project-showcase-header {
            text-align: center;
        }


        .project-showcase-prew-container {
            // display: grid;
            // // grid-template-columns: 1fr 1fr 1fr 1fr;


            // grid-template-columns: 1fr;
            // grid-template-rows: auto;
            display: flex;
            // width: 750px;
            gap: 6px;

            .prew-carousel {
                width: 100%;
                height: 60px;
                border-radius: 3px;
                background-position: center bottom;
                background-size: cover;
                background-repeat: no-repeat;
                filter: grayscale(0.8);

                .slide-ind {
                    position: absolute;
                    top: 40%;
                    right: 45%;
                    color: $clr-background-page;
                    box-shadow: 0px -5px 40px 15px $clr-link-color
                }
            }
        }

        .project-showcase {
            margin: 12px 0;

            .curr-img {
                aspect-ratio: 2500 / 1750;
                // height: 100%;
                // width: 100%;
                border-radius: 8px;
                background-position: center center;
                background-size: cover;
                // min-height: 350px;
                // max-height: 350px;
            }
        }

        .carousel-side {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;



            .project-showcase-info {
                margin: 0;
                width: 100%;
                height: 120px;

                .info-title {
                    color: $clr-link-color;
                    align-self: flex-start;
                    margin-block: 5px;
                    margin-block-start: 15px;
                    font-size: 16px;
                }

                .info-txt {
                    font-size: 18px;
                }
            }

        }

        .more-info-container {
            margin-top: 12px;
            display: flex;
            flex-direction: column;
            gap: 3px;
            h2{
                font-size:20px ;
                color: $clr-link-color;
            }
            h3{
                font-size: 16px;
            }
        }


        // @include flex-center;
        // flex-direction: column;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // gap: 24px;

        // .project-showcase{
        //     @include flex-center;
        //     flex-direction: column;

        //     .show-case-info{
        //         @include flex-center;
        //         flex-direction: column;
        //         height: 100%;
        //     }
        //     img{
        //         width:50%
        //     }
        // }
    }

}


@include for-laptop-layout {
    .about-project-container {
        padding: 80px 10px;
        padding-bottom: 50px;

        .project-main {
            width: 100%;
            padding: 10px;

            .project-title {
                font-size: 40px;
                padding-bottom: 8px;
            }

            .project-info {
                font-size: 18px;
            }

            .project-technologies {
                font-size: 14px;
            }

            .button-cv {
                font-size: 14px;
            }
        }
    }
}

@include for-laptop-narrow-layout {
    .about-project-container {
        .try-div {
            height: 430px;
        }

        .project-showcase-container {
            width: 800px;
        }
    }
}

@include for-tablet-layout {
    .about-project-container {
        .try-div {
            height: 400px;
        }

        .services-container {

            .service-container {

                .card-container {
                    h2 {
                        font-size: 16px;
                    }
                }
            }
        }

        .project-showcase-container {
            width: 100%;

            .project-showcase {

                .curr-img {
                    // aspect-ratio: 500 / 260;
                    // height: 90%;
                    border-radius: 8px;
                    background-position: center center;
                    background-size: cover;
                    // min-height: 350px;
                    // max-height: 350px;
                }
            }

            .carousel-side {
                .project-showcase-info {
                    .info-txt {
                        font-size: 16px;
                    }
                }
            }
            .more-info-container {
                margin-top: 8px;
            }
        }
    }
}

@include for-mobile-layout {
    .about-project-container {

        .project-main {

            .project-title{
                font-size: 36px;
            }

            .project-info {
                // align-self: flex-start;
                color: $clr-link-color;
                font-size: 18px;
            }

            .project-technologies {
                font-size: 12px;
            }

            .button-cv {
                font-size: 12px;
            }
        }

        .services-container {

            .service-container {

                .card-container {
                    h2 {
                        font-size: 16px;
                    }
                }
            }
        }

        .project-showcase-container {

            .carousel-side {
                .project-showcase-info {
                    .info-txt {
                        font-size: 14px;
                    }
                }
            }
            .more-info-container{
                h2{
                    font-size: 18px;
                }
                h3{
                    font-size: 14px;
                }
            }
        }
    }
}