.contact-container {
    // @include flex-center;
    display: flex;
    justify-content: center;
    // margin-block-start: 15px;
    padding-block: 60px 30px;
    width: 100%;

    .contact-info-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 40%;
        color: $clr-link-color;

        .contact-logo {
            @include flex-center;

            img {
                border-radius: 8px;
                width: 250px;
                height: 150px;
            }
        }

        .contact-info-name {
            @include flex-center;
            flex-direction: column;
            gap: 8px;

            .name {
                font-size: 48px
            }

            .job-title {
                font-size: 24px
            }
        }

        .contact-social-media {
            @include flex-center;
            flex-direction: column;
            gap: 12px;

            .social-media-btn {
                flex-direction: column;
                gap: 12px;

                .social-media {
                    gap: 12px;
                }
            }

            .contact-number {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;

                .contact-number-prev {
                    font-size: 14px;
                }
            }
        }
    }

    .contact-msg-container {
        width: 40%;
        // @include flex-center;
        display: flex;
        gap: 12px;

        .contact-me {
            font-size: 48px;
            display: flex;
            flex-direction: column;
            padding: 0 15px;


            .span-color {
                color: $clr-link-color;
            }
        }

        .contact-form {
            width: 100%;
            font-size: 18px;

            form {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .input-wrap {
                    position: relative;

                    .input-text {
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid green;
                        border-radius: 0;
                        outline: 0;
                        height: 3rem;
                        width: 100%;
                        font-size: 16px;
                        margin: 0 0 8px 0;
                        padding: 0;
                        box-shadow: none;
                        box-sizing: content-box;
                        transition: box-shadow .3s, border .3s;
                        color: $clr-link-color;

                    }

                    .textarea {
                        height: 155px;
                        margin-top: 15px;
                        resize: none;
                    }

                    .floating-label {
                        position: absolute;
                        left: 0;
                        top: 20px;
                        pointer-events: none;
                        transition: top 200ms ease;
                    }

                    // .input-text:focus ~ .floating-label {
                    //     background-color: blue;
                    //     // top: -25px;
                    // }
                    .input-text:focus~.floating-label,
                    .input-text:not(:focus):valid~.floating-label {
                        top: -10px;
                        bottom: 0px;
                        left: 0px;
                        font-size: 12px;
                        opacity: 1;
                        transition: top 200ms ease;
                    }
                }

                .button-cv {
                    align-self: center;
                    width: fit-content;
                    font-size: 18px;
                }
            }
        }
    }

}


@include for-laptop-narrow-layout {

    .contact-container {


        .contact-msg-container {
            width: 50%;
        }
    }
}


@include for-tablet-layout {
    .contact-container {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 36px;
        box-sizing: border-box;
        padding: 0 10px;


        .contact-info-container {
            width: 100%;

            .contact-logo {
                img {
                    width: 220px;
                    height: 150px;
                }
            }

            .contact-info-name {
                gap: 12px;

                .job-title {
                    font-size: 24px;
                }
            }

            .contact-social-media{
                gap: 18px;
                margin-bottom: 20px;
                .contact-number{
                    font-size: 18px;
                    
                    .contact-number-prev{
                        font-size: 16px;
                    }

                }
            }
        }

        .contact-msg-container {
            width: 100%;
            box-sizing: border-box;
            flex-direction: column;
            background-color: $clr-background-proj;
            padding: 50px;
            border-radius: 20px;

            .contact-me {
                font-size: 40px;
                padding: 0;
                flex-direction: row;
                gap: 12px;
            }



            .contact-form {
                font-size: 16px;
                padding: 0 3px;

                form {
                    gap: 8px;

                    .input-wrap {

                        .input-text {
                            height: 2rem;
                        }

                        .textarea {
                            height: 6rem;
                        }

                        .floating-label {
                            top: 10px;
                        }
                    }

                    .button-cv {
                        align-self: flex-start;
                    }
                }
            }
        }
    }

}


// @media (max-width: 630px) {
//     .contact-container {

//         .contact-info-container {
//             width: 100%;

//             .contact-logo {
//                 img {
//                     width: 220px;
//                     height: 150px;
//                 }
//             }

//             .contact-info-name {
//                 gap: 12px;

//                 .job-title {
//                     font-size: 20px;
//                 }
//             }
//         }

//         .contact-msg-container {
//             width: 100%;
//             box-sizing: border-box;
//             flex-direction: column;
//             background-color: $clr-background-proj;
//             padding: 50px;
//             border-radius: 20px;

//             .contact-me {
//                 font-size: 40px;
//                 padding: 0;
//                 flex-direction: row;
//                 gap: 12px;
//             }



//             .contact-form {
//                 font-size: 16px;
//                 padding: 0 3px;

//                 form {
//                     gap: 8px;

//                     .input-wrap {

//                         .input-text {
//                             height: 2rem;
//                         }

//                         .textarea {
//                             height: 6rem;
//                         }

//                         .floating-label {
//                             top: 10px;
//                         }
//                     }

//                     .button-cv {
//                         align-self: flex-start;
//                     }
//                 }
//             }
//         }
//     }
// }