.projects-container {
    @include flex-center;
    flex-direction: column;
    gap: 12px;
    // margin-block-start: 12px;
    padding-block-start: 50px;
    width: 100%;

    h1 {
        padding-top: 10px;
        font-size: 28px;
    }

    main {
        display: flex;
        justify-content: center;
        @include scroll-bars;
        box-sizing: border-box;
        // text-align: center;
        gap: 12px;
        overflow-x: auto;
        width: 100%;
        padding: 0 10px 8px 10px;
        padding-bottom: 8px;

        .project-container {
            display: flex;
            gap: 12px;
            // margin: auto;
            flex-direction: column;
            min-width: 300px;
            max-width: 300px;
            height: 350px;
            box-sizing: border-box;
            // text-align: center;
            background-color: $clr-background-proj;
            padding: 3px 0;
            border-radius: 8px;
            transition: background-color 250ms;

            .proj-img {
                height: 100%;
                width: 100%;
                background-position: center top;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 8px 8px 0 0;
            }

            .proj-info {
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding: 12px 24px 24px 24px;

                .proj-name {
                    // align-self: center;
                    font-size: 22px;
                }

                .proj-details {
                    font-size: 16px;
                    color: $clr-proj-info;
                }
            }


            router-link {
                width: fit-content;
            }

            &:hover {
                background-color: $clr-hover;
                transition: background-color 500ms;
            }

        }

        // .project-container:hover~.proj-img {
        //     // opacity: 0.8;
        //     filter: grayscale(0.5);
        //     // background-color: $clr-hover;
        //     // transition: background-color 500ms;
        // }
    }
}


@media (max-width: 1900px) {
    .projects-container {
        main {
            justify-content: flex-start;

            .project-container {
                margin-block-end: 3px;
            }
        }
    }
}


@include for-tablet-layout {
    .projects-container {

        main {

            .project-container {
                min-width: 220px;
                max-width: 220px;
                height: 270px;
                padding: 6px;

                .proj-info {
                    gap: 6px;
                    padding: 6px;

                    .proj-name {
                        // align-self: center;
                        font-size: 16px;
                    }

                    .proj-details {
                        font-size: 14px;
                        color: $clr-proj-info;
                    }
                }
            }
        }
    }
}

@include for-mobile-layout {
    .projects-container {
        main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            .project-container {
                min-width: 210px;
                max-width: 210px;
                height: 220px;
                margin: 0;

                .proj-info {
                    .proj-name {
                        font-size: 16px;
                    }

                    .proj-details {
                        font-size: 12px;
                        color: $clr-proj-info;
                    }

                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}