.services-container {
    display: flex;
    justify-content: center;
    margin-block-start: 60px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    @include scroll-bars;

    .service-container {
        @include flex-center;
        padding: 12px;


        .card-container {
            @include flex-center;
            text-align: center;
            flex-direction: column;
            width: 250px;
            height: 250px;
            perspective: 1000px;

            .front,
            .back {
                border-radius: 8px;
                box-sizing: border-box;
                gap: 8px;
                padding: 12px;
                position: absolute;
                @include flex-center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                transition: transform 0.7s;
            }

            .front {
                background-color: $clr-background-proj;
                position: relative;
                @include flex-center;
                flex-direction: column;
                text-align: center;
                transform-style: preserve-3d;

                .service-img {
                    color: $clr-link-color;
                }
            }

            .back {
                transform: rotateY(180deg);
                background-image: linear-gradient(to bottom, #529b67, #498657, #407148, #365d39, #2c4a2c);

                p {
                    margin: 0;
                }

                h2 {
                    color: $clr-link-color;
                }

            }

            &:hover {
                .front {
                    transform: rotateY(-180deg);
                }

                .back {
                    transform: rotateY(0deg);
                }
            }
        }

        h2 {
            color: #ffffff;
            transition: color 700ms ease;
        }


        .service-img {
            // height: 150px;
            // width: 150px;
            margin-block: 12px;
            @include flex-center;
            font-size: 60px;
        }

    }


}


@media (max-width: 1130px) {
    .services-container {
        justify-content: flex-start;
        overflow-x: auto;
    }

}


@include for-laptop-narrow-layout {
    .services-container {
        margin-block-start: 10px;

        .service-container {

            .card-container {
                width: 220px;
                height: 220px;
            }
            h2{
                font-size: 20px;
            }

            .front{
                .service-img {
                    margin-block: 12px;
                    font-size: 50px;
                }
            }
        }
    }
}

@include for-tablet-layout {
    .services-container {

        .service-container {

            .card-container {
                width: 200px;
                height: 200px;

                .back {
                    p {
                        font-size: 14px;
                    }
                }
            }

            .service-img {
                margin-block: 12px;
                font-size: 46px;
            }
        }

        h2 {
            font-size: 20px;
        }
    }
}


@include for-mobile-layout {
    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 8px;
        overflow-x: hidden;

        .service-container {
            padding: 0;

            .card-container {
                width: 100%;
                height: 150px;

                .back {
                    p {
                        font-size: 12px;
                    }
                }
            }

            .service-img {
                // height: 150px;
                // width: 150px;
                margin-block: 6px;
                font-size: 40px;
            }
        }

        h2 {
            font-size: 18px;
        }
    }
}