.carousel {
    position: relative;
    // width: 100%;
    // min-height: 600px;
    // height: 100%;
    // overflow: hidden;
    aspect-ratio: 2500/ 1900;

    .next,
    .prev {
        margin-inline: 5px;
        position: absolute;
        height: 40px;
        width: 40px;
        // padding: 15px;
        top: 50%;
        background-color: #777474;
        border-radius: 50%;
    }

    .next {
        right: 0;
    }

    .prev {
        left: 0;
    }
}



// @include for-tablet-layout {
//     .carousel {
//         min-height: 550px;
//     }
// }

// @media (max-width: 700px) {
//     .carousel {
//         min-height: 500px;
//     }
// }

// @media (max-width: 600px) {
//     .carousel {
//         min-height: 400px;
//     }
// }

// @include for-mobile-layout {
//     .carousel {
//         min-height: 350px;
//     }
// }

// @media (max-width: 400px) {
//     .carousel {
//         min-height: 300px;
//     }
// }