.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include flex-center;
    flex-direction: column;
    text-align: center;
    gap: 8px;

    h3{
        align-self: flex-start;
    }


    
}