// $clr1: #091e42;

$clr-background-page: #303030;
$clr-link-color :#c4e9c5;
$clr-hover :  hsla(0, 0%, 100%, .3);

$clr-background-progress-bar: #494949;


$clr-background-proj : #424242;
$clr-proj-info : #ffffffb3;
$clr-proj-hover:#396250;


$clr-blue-fb: #0B83EE;